 /* -----ALIGNMENT----- */
.align-center {
	text-align: center;
}

/* -----BACKGROUND----- */
html {
	background-image: url("../images/food.png");
	background-attachment: fixed;
}

/* -----HEADER----- */
.pure-g [class *= "header"] {
	font-family: 'Alfa Slab One', cursive;
	font-size: 4.5em;
}

	header {
		padding: 10px 0;
		border: 1px solid black;
		margin-bottom: 10px;
	}

/* -----MENU----- */
.pure-g [class *= "menu"] {
	font-family: 'Quattrocento', serif;
	font-size: 1.05em;
}

/* -----EXPLANATION----- */
.pure-g [class *= "explain"] {
	font-family: 'Quattrocento', serif;
	font-size: 1.5em;
}

	.explain {
		padding: 10px 0;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.pure-menu-item {
		color: #000000;
	}

/* -----SELECT----- */
.pure-g [class *= "select"] {
	font-family: 'Alfa Slab One', serif;
	font-size: 3.0em;
}

	.select {
		padding: 10px 0;
		margin: 10px auto;
		border: 1px solid black;
	}


/* -----BUTTONS----- */
.pure-g [class *= "button-font"] {
	font-family: 'Quattrocento', serif;
	font-size: 2.75em;
}

	.greeter, .meeter {
		padding: 10px 0;
		margin: 10px auto;
		color: #000000;
	}

	.pure-button {
		padding: 20px;
		border-radius: 25px;
		background-color: #ffffff;
		color: #000000;
		border: 1px solid #000000;
	}

	.greeter-button, .meeter-button {
		padding: 20px 50px;
	}

	button:active {
		transform: translateY(3px);
	}

/* -----ABOUT----- */
.pure-g [class *= "about"] {
	font-family: 'Quattrocento', serif;
	font-size: 1.25em;
}

	.about {
		padding: 10px 0;
		margin: 10px auto;
	}

	.pure-g [class *= "dev"] {
	font-family: 'Quattrocento', serif;
	font-size: 1.25em;
	}

	.dev-pic {
		width: 150px;
		height: 200px;
	}

/* -----GREETER/MEETER PAGE----- */
.pure-g [class *= "create-event"] {
	font-family: 'Quattrocento', serif;
	font-size: 1.5em;
}
	.create-event, .display-event {
		padding: 10px 0;
		margin: 10px auto;
	}

	header, .explain, .select, .greeter-form {
		margin: 10px auto;
		max-width: 768px;
		background-color: #ffffff;
		border: 1px solid #000000;
		border-radius: 25px;
	}

	.display-event {
		margin: 10px auto;
		max-width: 75%;
		background-color: #ffffff;
		border: 1px solid #000000;
		border-radius: 25px;
	}

	table, th {
		margin: 10px auto;
		max-width: 100%;
		background-color: #ffffff;
	}

	.pure-g [class *= "event-header"] {
		font-family: 'Alfa Slab One', serif;
		font-size: 1.50em;
	}